# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
.env/

# Base de datos local
instance/
stock.db

# Archivos de configuración de entorno
*.env

# Archivos de log
*.log

# Archivos de editor/IDE
.vscode/
.idea/
*.swp
*~

# Archivos de sistema
.DS_Store
Thumbs.db